

body{ margin:0px; padding:0px; font-family: Myriad Pro;}

@font-face {
    font-family: Myriad Pro;
    src: url(font/MyriadPro-Regular.otf), url(font/MyriadPro-Regular.eot), url(font/MyriadPro-Regular.ttf), url(font/MyriadPro-Regular.woff), url(font/MyriadPro-Regular.svg);
}

.headerDiv{width:100%; height:auto; float:left; background-color:#f3ed75; min-height:100px; margin-bottom:10px;}
.containerDiv{width:1004px; margin:0px auto; padding-left:10px; padding-right:10px; position:relative;}
.logo{width:176px; height:125px; margin:25px 0px 15px 5px; float:left;}
.CF{font-family:Myriad Pro; font-weight:bold; color:#000; font-size:35px; padding-top:67px; padding-left:40px; float:left;}
.PhnBox{width:100%; float:left; padding:0px 0 10px 0;}
.Phn_txt{width:auto; float:left;}
.Phn_txt1{width:80px; float:left; text-align:right; font-family: Myriad Pro; font-size:15px; color:#000000;}
.Intr_Prm{width:auto; font-family:Myriad Pro; font-size:15px; color:#000000; padding-left:5px;}

.container{width:100%; float:left; padding-top:15px; padding-bottom:15px; min-height:280px; background-color:#FFF;}
.CustomeTable_1 { background: #ccc;  width:984px;}
.CustomeTable_1  tr{ background: none; margin:0 5px 0 5px;}
.CustomeTableB_1{width:984px;}
.CustomeTableB_1 tr{width:150px; margin:0 5px 0 5px;}
.CustomeTableB_1 tr td{width:150px; margin:0 5px 0 5px;}
.CustomeTableB_1 td p{ padding: 5px; width:100px; text-align:center; min-width:100px; font-size:14px; background:#ccc;  text-transform:capitalize; margin:0px;}
.CustomeTable_1  th p{ padding: 5px; width:100px; text-align:center; min-width:100px; font-size:14px;  text-transform:capitalize; margin:0px;}
.CustomeTable_1 Table th p{padding: 2px; width:100px; text-align:center; min-width:100px; font-size:12px; margin:0px;}
.BGClr{background:#fff !important;}
.BGClr1{background:#f3ed75 !important;}

.footerDiv{width:100%; height:auto; min-height:100px; background-color:#f3ed75; float:left; margin-top:10px;}
.PhnBox1{width:500px; text-align:center; margin:0 auto; padding:15px 0 10px 0;}
 

